<div class="modal">
  <div class="modal__content modal__content__{{ options.size }}">
    <div class="modal__header">
      <h1>{{ options?.title }}</h1>
      <i class="fa fa-times" (click)="closeModal(null)"></i>
    </div>
    <div class="modal__body">
      <ng-container #modalContent></ng-container>
    </div>
    <div class="modal__footer">
      <button *ngIf="options.confirmation" (click)="closeModal(false)">
        Cancel
      </button>
      <button (click)="closeModal(true)">Confirm</button>
    </div>
  </div>
</div>
