/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts.scss";
@import "./assets/variables.scss";

h1 {
  font-family: $font-regular;
}

p {
  font-family: $font-light;
}

button {
  cursor: pointer;
  background-color: transparent;
  text-transform: lowercase;
  transition: background 0.5s;
  &:hover {
    background: $black;
    color: $white;
  }
}
